body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.user {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    margin: 10px;
    padding: 5px;
    -moz-box-shadow: 4px 4px 10px #000;
    -webkit-box-shadow: 4px 4px 10px #000;
    box-shadow: 4px 4px 10px #000;
}

.email {
    text-decoration: none;
    color: #75caeb;
}

.email:hover {
    color: #66afe9;
}
